@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
  color: #000;
  margin: 0;
  background-color: #eee;
  font-family: 'Noto Sans', sans-serif;
}
html,
body {
  height: 100%;
}
ul.menu {
  list-style-type: none;
  position: fixed;
  bottom: 10px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 0;
}
ul.menu li {
  display: inline-block;
  padding-left: 20px;
  text-align: center;
  position: relative;
  top: 40px;
  vertical-align: bottom;
}
ul.menu li a {
  font-size: 24px;
  text-decoration: none;
}
ul.menu li a:hover {
  text-decoration: none;
}
div.project {
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
  box-shadow: 5px 5px 5px #666;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 25px;
  padding: 5px;
  padding-top: 0;
  background-size: 300px;
  background-position: -75px center;
  background-color: #F0F0F0;
  color: #000;
  overflow: auto;
}
div.project img.headline-image {
  width: 250px;
  height: 250px;
  float: left;
}
div.project div.screenshots {
  overflow: hidden;
  max-height: 300px;
  max-width: 550px;
  padding-left: 20px;
  float: right;
}
div.project div.screenshots img.screenshot-details {
  height: 300px;
}
div.project div.features {
  display: inline-block;
  vertical-align: top;
}
ul.menu-list {
  list-style: none;
  display: -webkit-flex;
  display: flex;
}
ul.menu-list li.menu-item {
  display: inline;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
ul.menu-list li.menu-item a {
  text-decoration: none;
  font-weight: bold;
}
