div.project {
	@extend div, .content;
	overflow: visible;

	div.project-details-container {
		display: flex;
		flex-flow: row wrap;
    align-items: center;
	}

	@import "screenshots/screenshot-list/screenshot-list";
	@import "features/features";
}
