.settings
.metadata
.idea
/app/content/projects/
/node_modules/
/npm-debug.log
/bower_components/
/js/
/css/
/public/
/protected/
/app/public/
/build/
ssh-config.json
app-config.json
report.*.json
.env