// lib imports
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import (inline) "slick-carousel/slick/slick.css";
@import (inline) "slick-carousel/slick/slick-theme.css";

body {
	color: #000;
	margin: 0;
	background-color: #FFF;
    font-family: 'Noto Sans', sans-serif;
	padding: 5px;
}

html, body {
	height: 100%;
}

ul.menu {
	list-style-type: none;
	position: fixed;
	bottom: 10px;
	text-align: center;
	display: block;
	width: 100%;
	padding: 0;

	li {
		display: inline-block;
		padding-left: 20px;
		text-align: center;
		position: relative;
		top: 40px;
		vertical-align: bottom;

		a {
			font-size: 24px;
			text-decoration: none;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

h1 {
	a.header-home-link {
		text-decoration: none;
		color: #000;
	}
}

div.content {
	margin-left: 5px;
	margin-right: 15px;
	margin-bottom: 25px;
	margin-top: 5px;
	padding: 5px;
	padding-top: 0;
	background-size: 300px;
	background-position: left center;
	color: #000;
	overflow: auto;

	// Stylish way to add a Horizontal rule-like looking element
	+ div.content {
		&:before {
			content: "";
			display: block !important;
			height  : 1px;
			max-width   : 300px;
			margin-left: auto;
			margin-right: auto;
			border-bottom:5px solid #666;
		}
	}
}

@import "./notes/note/note";
@import "./project/project-details/project-details";
@import "./resume/resume";
@import "./menu/menu";
@import "./index/index";
