div.bio {
	@extend div, .content;

	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;

	img.author-picture {
		width: 500px;
		max-width: 100%;
		float: left;
		padding: 25px;

		@media screen and (max-width:510px) {
      padding-left: 0;
			padding-right: 0;
  	}
	}
}
