div.screenshots-container {
    overflow: hidden;
    max-height: 300px;
	max-width: 700px;
    float: right;

    div.screenshots {
        overflow: hidden;
        max-width: 550px;
    }

    .nav-section {
        display: inline;
    }

	@import "../screenshot-details/screenshot-details";
}
